*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
button {
    border: 1px solid #e9e9e9;
    background: 0 0;
    border-radius: 0;
}
button, input, textarea {
    font-size: 16px;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
}
li, ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    font-size: inherit;
    color: inherit;
}
a {
    text-decoration: none;
}
a, button {
    cursor: pointer;
}
.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
*, :after, :before {
    box-sizing: border-box;
}
div{
    display: block;
}
body{
    font-size: 14px;
    color: #333;
    line-height: 1.01;
    user-select: none;
}
#test .container{
    width: 1200px;
    margin: 0 auto;
}
.container {
    min-width: 1200px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}
#test .container .exam .row {
    margin-top: 30px;
}
#test .container .exam .row>.col1 {
    width: 16%;
}
#test .container .exam .row>.col2 {
    width: 60%;
}
#test .container .exam .row>.col3 {
    width: 24%;
}
#test .container .exam .row>.coll {
    float: left;
    height: 460px;
    padding: 5px;
}
#test .container .exam fieldset.testRoom {
    height: 50px;
    text-align: center;
}
#test .container .exam fieldset.answerCard, #test .container .exam fieldset.question {
    height: 360px;
}
#test .container .exam fieldset {
    border: 1px solid #b8babb;
    border-radius: 4px;
    padding: 10px;
}
#test .container .exam fieldset legend {
    margin-bottom: 0px;
    width: 100px;
    margin-left: 25px;
    font-size: 16px;
}
#test .container .exam fieldset.testStudent {
    height: 290px;
    margin-top: 20px;
}
#test .container .exam .row .studentImg {
    margin: 10px auto;
    border: 1px solid #b8babb;
    display: block;
    width: 110px;
    height: 110px;
    overflow: hidden;
}
#test .container .exam .row .student-item {
    margin: 10px 0;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#test .container .exam .row .student-item.subject {
    text-align: center;
}
.red{
    color: #EE4653;
}
#test .container .exam fieldset.countDown {
    height: 60px;
    margin-top: 20px;
    text-align: center;
}
#test .container .exam .djs {
    font-size: 24px;
    color: #EE4653;
}

.question-detail {
    height: 260px;
    overflow: auto;
}
.question-detail>.detail-content>.question {
    line-height: 1.7;
    margin: 0;
    font-size: 20px;
}
.question-detail>.detail-content>.options {
    font-size: 18px;
    margin-top: 5px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.question-detail>.detail-content>.options>.option>p {
    margin: 10px 0;
    line-height: 22px;
    padding-left: 30px;
    color: #666;
}
.question-detail>.detail-content>.options>.img>img {
    line-height: 22px;
    padding-right: 20px;
    color: #666;
}
#test .container .exam .select {
    margin-top: 10px;
    margin-right: 20px;
}
#test .container .exam .select .select-lable {
    line-height: 20px;
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid #999;
    font-size: 18px;
}
#test .container .exam .select .select-lable.active {
    background-color: #999;
}
#test .container .exam .select .btn-answer-ok {
    padding: 10px 15px;
    background-color: #37B5F8;
    border: 1px solid #37B5F8;
    color: #fff;
}
#test .container .exam .row .question-bar {
    padding-top: 20px;
}
#test .container .exam .row .question-bar>.message {
    float: left;
    width: 300px;
    height: 60px;
}
#test .container .exam .row .question-bar>.btn-bar {
    float: right;
}
#test .container .exam .row .question-bar>.btn-bar .pre {
    background-color: #208BE6;
}
#test .container .exam .row .question-bar>.btn-bar .next {
    background-color: #1DACF9;
}
#test .container .exam .row .question-bar>.btn-bar .submit {
    background-color: #32B16C;
}
#test .container .exam .row .question-bar>.btn-bar>button+button {
    margin-left: 20px;
}
#test .container .exam .row .question-bar>.btn-bar>button {
    border: none;
    width: 100px;
    margin-top: 15px;
    line-height: 36px;
    text-align: center;
    color: #fff;
}
#test .container .exam .answerCard {
    padding-top: 10px;
}
#test .container .exam .answerCard-list {
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
}
#test .container .exam .answerCard-list>li {
    float: left;
    width: 10%;
    height: 35px;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    text-align: center;
    overflow: hidden;
}
#test .container .exam .answerCard-list>li>a.curr {
    float: none;
    background-color: #1D6BD0;
    color: #fff;
}
#test .container .exam .answerCard-list>li>a {
    display: block;
    width: 100%;
    line-height: 33px;
}
#test .container .exam .answerCard-list>li>a.right {
    float: none;
    background-color: #3da600;
    color: #fff;
}
#test .container .exam .answerCard-list>li>a.error {
    float: none;
    background-color: #EE4653;
    color: #fff;
}